{%extends "flatpages/default.html"%}
{%load custom_filters%}


{%block title%}
{{post.header}}
{%endblock title%}

{%block header%}

    {% if post.is_news %}
    <h3> Статья </h3>
    {% else %}
    <h3>Новость</h3>
    {% endif %}
{{post.header|censor}}
{%endblock header%}

{%block title2%}
<h4 align="left">Data created:{{post.data_create|date:'d.m.Y'}}</h4>
<h5 align="right">{%if perms.Models.change_post%}
    <a href="{{post.id}}/update">Редактировать</a>
    <a href="{{post.id}}/delete">Удалить</a>
    {%endif%}
    </h5>
{%endblock title2%}

{%block content%}
{{post.text|censor}}
{%endblock content%}